.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
}

.main h1 {
    margin: 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.path {
    display: flex;
    gap: 8px;
    margin-top: 30px;
}

.path p {
    color: #989898;
    cursor: pointer;
}

.path h4 {
    color: #757575;
    cursor: pointer;
}

.goods {
    width: 100%;
    max-width: 1060px;
}

.deleteSelected {
    width: 100%;
    height: 70px;
    max-width: 1060px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
    padding: 24px;
}

.input {
    display: flex;
    gap: 6px;
}

.goods input {
    width: 16px;
    cursor: pointer;
}

.deleteSelected span {
    color: #989898;
    cursor: pointer;
}

.details {
    width: 340px;
    height: auto;
    background-color: white;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 14px;
    padding: 30px;
}

.goods{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 14px;
    padding: 25px;
}

.item input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #12C043;
}

.photo {
    width: 100%;
    max-width: 180px;
    object-fit: cover;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.count {
    display: flex;
    align-items: center;
    gap: 8px;
}

.count button {
    padding: 0.1em 0.5em;
    color: #202020;
    border: 2px solid #ECECEC;
    background-color: transparent;
    border-radius: 4px;
    font-size: 20px;
}

.count button:hover {
    background-color: #EDEDED;
}

.count p {
    font-size: 20px;
}

.price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 12px;
}

.price h2 {
    font-size: 28px;
    font-weight: 700;
}

.price p {
    text-decoration: 1px line-through;
    color: #989898;
    font-size: 20px;
}

.icons {
    display: flex;
    gap: 10px;
    margin: 0 0 auto auto;
}